div.scott {
	float:left;
	margin: 3px;
	padding: 3px;
	text-align: center;
}
.scott span {
	float:left;
	border: 1px solid transparent;
	color: #88af3f;
	margin: 0 4px 4px 0;
	padding: 2px 5px;
	text-decoration: none;
}
div.scott a {
	float:left;
	border: 1px solid #ddd;
	color: #88af3f;
	margin: 0 4px 4px 0;
	padding: 2px 5px;
	text-decoration: none;
}
div.scott a:hover {
	float:left;
	background-color: #f1ffd6;
	border: 1px solid #85bd1e;
	color: #638425;
}
div.scott a:active {
	background-color: #f1ffd6;
	border: 1px solid #85bd1e;
	color: #638425;
}
div.scott span.current {
	background-color: #b2e05d;
	border: 1px solid #b2e05d;
	color: #fff;
	/*font-weight: bold; */
	margin: 0 4px 4px 0;
	padding: 2px 5px;
}
div.scott span.disabled {
	border: 1px solid #f3f3f3;
	color: #ccc;
	margin: 0 2px 0 0;
	padding: 2px 5px;
}
